:root {
  --primary-color: #5984c9;
  --secondary-color: #9ca3af;

  --text-primary: #f8fafc;
  --text-secondary: #D1D5DB;

  --bg-dark: #1F2937;
  --bg-light: #1F2937;
  /* #3B82F6 */
  --bg-card: #666666;
}
